.App {
    font-family: Arial, Helvetica, sans-serif;
    color: #5E5E5E;
    margin:auto;
    background-color: #f5f5f5;
}

.container {
    max-width: 80%;
    margin-left: 10%;
    background-color: #fff;
}

body {
    margin: 0;
    padding: 0;
}