

html {
    height: 100%;
    box-sizing: border-box;
  }

html,
body {
    position:relative;
    margin: 0;
    padding: 0;
    height: 100%;
}
.App {
    font-family: Arial, Helvetica, sans-serif;
    color: #5E5E5E;
    background-color: #f5f5f5;
    font-size: 15px;
    min-height: 100%;
    position: relative;
}

.container {
    max-width: 80%;
    margin-left: 10%;
    background-color: #fff;
    position:relative;

}

.footer {
    background-color: #005480;
    height: 180px;
    width: 100%;
    position: relative;
    right: 0;
    bottom: 0;
    left: 0;
    clear: both;
}