.event-details {
    display: block;
    margin-left: 30px;
    width: 100%;
    position: relative;
}

.title {
    color: #003d5d;
    font-size: 25px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 10px;

    margin-bottom: 10px;
}

.title p {
    margin: 0;
}

.bar-photo {
    margin-right: 30px;
    display: inline-block;
    height: 320px;
    overflow: hidden;
}

.bar-photo img {
    width: 100%;
    position: relative;
    top: 45%;
    transform: translateY(-60%);
}

.details {
    display: block;
    float: left;
    position: absolute;
    background-color: #fff;
    left: 70px;
    top: 43px;
    width:290px;
    z-index: 1000;
    padding-left: 10px;
}

.details a {
    color: #003d5d;
    font-size: 18px;
}

.map {
    display:block;
    position:absolute;
    float:left;
    left: 35px;
    top: 48px;
    width: 300px;
    height: 253px;
    z-index: 1000;
}